[gerrit]
	basePath = git
	canonicalWebUrl = http://gerrit.komodo-os.my.id/
	serverId = c13df4ca-d00a-4b92-8989-c0af4d61fd4f
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = gerrit
	javaHome = /usr/lib/jvm/java-11-openjdk-amd64
[index]
	type = lucene
[auth]
        type = HTTP
        httpHeader = GITHUB_USER
        logoutUrl = /oauth/reset
        httpExternalIdHeader = GITHUB_OAUTH_TOKEN
        loginUrl = /login
        loginText = Sign-in with GitHub
        registerPageUrl = "/#/register"
[receive]
	enableSignedPush = false
[sendemail]
	smtpServer = smtp-relay.sendinblue.com
	smtpServerPort = 587
	smtpUser = dhimasbagusprayoga@gmail.com
	smtpEncryption = TLS
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:8080/
	filterClass = com.googlesource.gerrit.plugins.github.oauth.OAuthFilter
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[github]
	url = https://github.com
	apiUrl = https://api.github.com
	clientId = a9e354b043e1883c126d
[plugin "avatars-external"]
        url = https://avatars3.githubusercontent.com/${user}
        sizeParameter = s=${size}x${size}
        lowerCase = true
